<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block name %}Kerem{% endblock %}
        {% block javascripts %}{% endblock %}

        {% block for_test %}{% endblock %}
        {% block if_test %}{% endblock %}
        {% block set_test %}{% endblock %}
    </body>
</html>
